:root {
    --color: #d30807;
    --gray: #313436;
    --white: #def8ff;
    --light: #fff;
}

.home-banner{
    width: 100%;
    height: auto;
    margin-bottom: 0;
}

.home-banner .home-banner-container{
    width: 100%;
    height: auto;
}

.home-banner .home-banner-container img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* Banner End  */

.home-about-section{
    width: 100%;
    height: auto;
    background-color: var(--gray);
    padding: 30px 30px;
}

.home-about-section .home-about-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


.home-about-section .home-about-container .home-aboout-content{
    width: 57%;
    height: auto;

}

.home-about-section .home-about-container .home-aboout-content h2{
    color: var(--white);
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 3%;
}


.home-about-section .home-about-container .home-aboout-content p{
    color: var(--white);
    font-weight: 100 !important;
    margin-bottom: 3%;
}

.home-about-section .home-about-container .home-about-images{
    width: 40%;
    height: auto;
    display: flex;
    justify-content: end;
    
}


.home-about-section .home-about-container .home-about-images img{
    width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: 50%;
    
}


@media screen and (max-width:800px) {

    
.home-about-section .home-about-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

    .home-about-section .home-about-container .home-aboout-content{
        width: 100%;
        height: auto;
    
    }
    .home-about-section .home-about-container .home-about-images{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    
    .home-about-section .home-about-container .home-about-images img{
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 50%;
        
    }
    
}

@media screen and (min-width:800px) and (max-width:1200px){
    .home-about-section .home-about-container .home-about-images img{
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 50%;
        
    }
}